* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

#mount-point {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {

}

.header {
    height: 80px;
    width: fit-content;
}

.main_container {
    height: 800px;
    border: solid 1px red;
}

.log_in {
    width: 340px;
    margin: 0 auto;
}

.actions {
    display: flex;
    flex-direction: column;
}

.action_button {
    margin-bottom: 10px !important;
}

.submit_button {
    float: right;
}
